---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
const pageTitleBlog = 'Blog';
---

<BaseLayout pageTitle={pageTitleBlog}>
    <h2>My Astro Site</h2>
    <h3>My Astro Learning Blog</h3>
    <p>This is where I will post about my journey learning Astro.</p>

    <ul>
        {allPosts.map((post) => {
            return  <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        })}
    </ul>
</BaseLayout>
